extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let jeepid = toShow._id
    - let jeepname = toShow.jeepname
    - let jeepenginemodel = toShow.enginemodel
    - let jeepprice = toShow.price
    - let actionid = "/resource/resource/jeep/" + jeepid
    script let actionid = "#{actionid}"
    div
      div.row
        div(class='costumeAttr mr-3') Jeep  ID is:
        div #{jeepid}
      div.row
        div(class='costumeAttr mr-3') Jeep Name is:
        div #{jeepname}
      div.row
        div(class='costumeAttr mr-3') Jeep enginemodel is:
        div #{jeepenginemodel}
      div.row
        div(class='costumeAttr mr-3') Jeep  price is:
        div #{jeepprice}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the Jeep collection
      window.location.href='/jeeps'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/jeeps'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }

